<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cg.watbalance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ColorTheme">
        <activity
            android:name=".login"
            android:label="@string/title_activity_login"
            android:theme="@style/ColorTheme.LoginWindow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".service.Service"
            android:enabled="true" />
        <receiver
            android:name=".service.OnBootReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".preferences.Preferences" />
        <activity
            android:name=".balanceScreen"
            android:label="@string/title_activity_balance_screen"
            android:theme="@style/ColorTheme.NoActionBar" />
        <activity
            android:name=".transactionScreen"
            android:label="@string/title_activity_transaction_screen"
            android:theme="@style/ColorTheme.NoActionBar" />
        <activity
            android:name=".outletScreen"
            android:label="@string/title_activity_outlet_screen"
            android:theme="@style/ColorTheme.NoActionBar" />
    </application>

</manifest>
